.container {
    border: 5px green solid;
    background-color: #b7d7e8;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    
}


h1 {
color: darkblue;
background-color: #b7d7e8;
}