.container {
    border: 3px green solid;
    background-color: red;
}

h2 strong {
    display: block;
    font-size: 100%;
    opacity: 1.0;
    justify-content: center;
    overflow-wrap: break-word;
}


h2 {
    display: block;
    font-size: 75%;
    opacity: 0.90;
    justify-content: center;
}